body {
  background-color: rgba(0, 0, 0, 0.3);

}

.wrapper {
  box-sizing: border-box;
  background-color: white;
  margin: 10vh 64px;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  border-top: 8px solid #fad312;
  padding: 40px 63px;
  min-height: calc(80vh - 62px);
}

h1 {
  font-size: 24px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #d0d0d0;
}

th {
  background-color: #e5e5e5;
}

th,
td {
  padding: 16px 32px;
}

footer {
  background-color: black;
  color: #999999;
  font-size: 13px;
  padding: 24px 12px;
  text-align: center;
}